<div class="container-fluid">
    <div class="row">

        <div class="card-body bg-light rounded col-md-12 m-5 border">
            <div class="row">

                <div class="card-body col-md-2" *ngFor="let mesa of mesas">
                    <div class="card border">
                        <div class="card-header"> {{mesa?.nome}} </div>
                        <div class="card-body bg-success">
                            <!-- {{mesa?.status}} -->
                            <h1 class="card-title"> Entregue </h1>
                        </div>

                        <!--Modal Criação Pedido-->
                        <div class="col">
                            <!--Botão de chamada do Modal-->
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" [attr.data-target]="'#modalMesa'+mesa.id" style="background-color: #6c757d; color: white;" (click)="capturaNomeMesa(mesa.nome)">Fazer pedido</button>
                            <div class="modal fade" [attr.id]="'modalMesa'+mesa.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <!--Modal Pedido-->
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{mesa.nome}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="pedidoForm" (ngSubmit)="addPedidoNaMesa()">
                                                <div class="form-group">
                                                    <label for="descricao" class="ml-1 mt-3 font-weight-bold">Descricao pedido:</label>
                                                    <input type="text" class="form-control form-control-lg text-center" name="descricao" id="descricao" formControlName="descricao" placeholder="Descricao" required>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill">Registrar</button>
                                                    </div>
                                                </div>

                                                <div *ngIf="booleanoLista">
                                                    <div *ngFor="let produto of produtosCardapio">
                                                        <label [for]="produto.nome">{{produto.nome}} <button type="button"
                                class="btn glyphicon glyphicon-plus" (click)="addProdutoPedido(produto)">+</button>
                            </label>
                                                    </div>

                                                    <div>
                                                    </div>

                                                    <button type="button" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill" (click)="registarProdutosPedido()">Registrar</button>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <button type="button" (click)="criarPedido(mesa)"> Criar Pedido </button> -->
                        <!--Modal Detalhes Mesa-->
                        <div class="col">
                            <!--Botão de chamada do Modal-->
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" [attr.data-target]="'#modalPedidoMesa'+mesa.pedido.id" style="background-color: #6c757d; color: white;" (click)="pedidoDaMesa(mesa.id)">Detalhes da Mesa</button>
                            <div class="modal fade" [attr.id]="'modalPedidoMesa'+mesa.pedido.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <!--Modal Pedido-->
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Pedido da {{mesa.nome}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                                        </div>
                                        <div class="modal-body">
                                            {{mesa.pedido.descricao}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!--Modal Criação Mesa-->
<div class="col">
    <!--Botão de chamada do Modal-->
    <div type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalNovaMesa">Nova mesa</div>
    <div class="modal fade" id="modalNovaMesa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!--Modal Mesa-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova mesa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="mesaForm" (ngSubmit)="criarMesa()">
                        <div class="form-group">
                            <label for="nome" class="ml-1 mt-3 font-weight-bold">Qual o nome da mesa:</label>
                            <input type="text" class="form-control form-control-lg text-center" name="nome" id="nome" formControlName="nome" placeholder="Nome" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill">Registrar</button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cronometro">
    <button type="button" (click)="start()"></button>
    <p>{{hora}}</p>
    <p>{{minuto}}</p>
    <p>{{segundo}}</p>
</div>