<div class="container-fluid">
  <div class="h1 d-flex justify-content-center mt-3 col-sm-12">

    <button type="button" class="btn btn-outline-light text-dark"(click) = "exibirfiltroGeral()" style="font-size: 32px;">Geral</button>
    <button type="button" class="btn btn-outline-light text-dark"(click) = "exibirfiltroComida()" style="font-size: 32px;">Comida</button>
    <button type="button" class="btn btn-outline-light text-dark" (click) = "exibirfiltroBebida()" style="font-size: 32px;">Bebida</button>

  </div>

  <div class="row">
    <div class="col" *ngFor="let produto of produtos">
      <app-produto-cardapio [produto]="produto"></app-produto-cardapio>
    </div>
    <div class="col mt-5">
      <div type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalNovoProduto">Teste</div>
      <div class="modal fade" id="modalNovoProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Novo produto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-cadastroproduto></app-cadastroproduto>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
